<footer class="">

  <div class="">
    <p class=""><strong><%= current_year %> Dmitriy Vorontsov</strong></p>
    <p>
    	<%= github_url("Test Guru", "supervoron1", "test-guru") %>
        - is a part of RoR basic course <%= link_to '@Thinknetica', 'http://thinknetica.com/', :target => "_blank" %>
    </p>
  </div>

</footer>
